@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);


body {
  margin-top: 2.5em;
  margin-left: 3em;
  margin-bottom: 3em;
}

h1 {
  font-family: "Lato", sans-serif;
  color: rgb(148,206,192);
  font-size: 1.6em;
  margin-top: 1.5em;
  font-weight: 700;
  text-transform: lowercase;
}

h2 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  color: rgb(89,80,77);
  margin-top: 1.75em;
}

a {
  font-family: "Georgia", serif;
  text-decoration: none;
  color: rgb(173,165,161);
}

a:hover {
  color: rgb(148,206,192);
}

.live-website {
  border: 2px solid rgb(148,206,192);
  background-color: white;
  padding: 1em;
  width: 158px;
  color: rgb(148,206,192);
}


.live-website:hover {
  border: 2px solid rgb(148,206,192);
  background-color: rgb(148,206,192);
  color: white;
}

.live-website:hover a {
  color: white;
}

.live-website a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: rgb(148,206,192);
}

img {
  width: 265px;
  margin-left: -1em;
}
