<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aroma Home Wireframes</title>
    <meta name="description" content="Page Description Goes Here">
  </head>

  <body>
    <header>
      <a href="index.html">
        <img src="assets/logo.svg" class="logo" alt="Aroma Coffee and Tea Logo"></img>
      </a>

      <a href="#menu" class="menu-link">Menu</a>

      <nav id="menu" role="navigation">
      			<ul>
      				<li><a href="menu.html">Menu</a></li>
      				<li><a href="process.html">Process</a></li>
      				<li><a href="events.html">Events</a></li>
      			</ul>
      </nav>
    </header>

    <main>
      <div class="events-heading clearfix">
        <figure class="beanshome">
            <img src="assets/events.jpg" alt="customers drinking coffee"/>
            <figcaption class="beanstext">
                <h1 class="hero">Join our community</h1>
                <h2 class="hero2">Take advantage of our events and specials</h2>
            </figcaption>
          </figure>
      </div>


<!-- Event Blocks -->

<div class="event-section">

<div class="eventblock-3">
    <figure class="midtermphoto clearfix">
      <img src="assets/coffee.jpg" alt="Upcoming Event - Study Session"/>
      <figcaption class="upcomingevent">
        Upcoming Event
      </figcaption>
    </figure>

    <div class="description clearfix">
        <h4>Study Session</h4>
        <h5 class="extendedhours">Extended Midterm Schedule</h5>
        <p class="eventdescription">Stop by Aroma to study for your next big exam. We have 24/7 extended hours with all the coffee you need.</p>
        <h4 class="eventdate">Dec. 8 - Dec. 12 | Study 24/7</h4>
    </div>
</div>


<div class="eventblock-2">
    <figure class="midtermphoto clearfix">
      <img src="assets/christmas.jpg" alt="christmas decorations and coffee"/>
      <figcaption class="upcomingevent">
        Upcoming Event
      </figcaption>
    </figure>

    <div class="description clearfix">
        <h4>Holiday Event</h4>
        <h5 class="extendedhours">Christmas Party</h5>
        <p class="eventdescription">Bring in the holiday season with your friends and family at Aroma, and try our special holiday flavored drinks.</p>
        <h4 class="eventdate">Dec. 23 | 5 PM - 8 PM</h4>
    </div>
</div>

<div class="eventblock-2">
    <figure class="midtermphoto clearfix">
      <img src="assets/tasting.jpg" alt="multiple mugs for coffee taste testing"/>
      <figcaption class="upcomingevent">
        Upcoming Event
      </figcaption>
    </figure>

    <div class="description clearfix">
        <h4>Taste Testing</h4>
        <h5 class="extendedhours">African & Classic  Blends</h5>
        <p class="eventdescription">Take advantage of our guided tastings and experience the  characteristics of our particular coffees.</p>
        <h4 class="eventdate">Jan. 19 | 2 PM - 4 PM</h4>
    </div>
</div>


<div class="eventblock-2">
    <figure class="midtermphoto clearfix">
      <img src="assets/valentines.jpg" alt="coffee mug with valentine heart-shaped latte"/>
      <figcaption class="upcomingevent">
        Upcoming Event
      </figcaption>
    </figure>

    <div class="description clearfix">
        <h4>Holiday Event</h4>
        <h5 class="extendedhours">Valentine's Day - Live Music</h5>
        <p class="eventdescription">Stop by Aroma to study for your next big exam. We have 24/7 extended hours with all the coffee you need.</p>
        <h4 class="eventdate">Feb. 14 | 6 PM - 10 PM</h4>
    </div>
</div>

<div class="eventblock-2">
    <figure class="midtermphoto clearfix">
      <img src="assets/tasting2.jpg" alt="multiple cups filled with ground coffee beans"/>
      <figcaption class="upcomingevent">
        Upcoming Event
      </figcaption>
    </figure>

    <div class="description clearfix">
        <h4>Taste Testing</h4>
        <h5 class="extendedhours">Aroma Signature Blends</h5>
        <p class="eventdescription">Take advantage of our guided tastings and experience the  characteristics of our particular coffees.</p>
        <h4 class="eventdate">Mar. 8 | 12 PM - 2 PM</h4>
    </div>
</div>

<div class="eventblock-2">
    <figure class="midtermphoto clearfix">
      <img src="assets/study.jpg" alt="coffee mug with book adjacent"/>
      <figcaption class="upcomingevent">
        Upcoming Event
      </figcaption>
    </figure>

    <div class="description clearfix">
        <h4>Study Session</h4>
        <h5 class="extendedhours">Extended Finals Schedule</h5>
        <p class="eventdescription">Stop by Aroma to study for your next big exam. We have 24/7 extended hours with all the coffee you need.</p>
        <h4 class="eventdate">Apr. 28 - Apr. 30 | 24/7 Study</h4>
    </div>
</div>

</div>

<!-- End of Event Blocks -->

    </main>

    <footer class="clearfix">
      <div class="footer">
        <div class="columbus">
          <h1>Columbus</h1>
          <p>5883 High St. Columbus, OH 43085</p>
          <p>(330) 854–8583</p>
        </div>

        <div class="kent">
          <h1>Kent</h1>
          <p>6110 Horning Rd. Kent, OH 44240</p>
          <p>(330) 672–3031</p>
        </div>

        <div class="hours">
          <h1>Hours</h1>
          <p>Mon–Fri: 6:00 AM – 10:30 PM</p>
          <p>Sat–Sun: 7:00 AM – 3:00 PM</p>
        </div>
      </div>
    </footer>


  </body>
</html>

<link href="style.css" rel="stylesheet" type="text/css" media="screen" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="javascript.js"></script>
