<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aroma Home Wireframes</title>
    <meta name="description" content="Page Description Goes Here">
  </head>

  <body>
    <header>
      <a href="index.html">
        <img src="assets/logo.svg" class="logo" alt="Aroma Coffee and Tea Logo"></img>
      </a>

      <a href="#menu" class="menu-link">Menu</a>

      <nav id="menu" role="navigation">
      			<ul>
      				<li><a href="menu.html">Menu</a></li>
      				<li><a href="process.html">Process</a></li>
      				<li><a href="events.html">Events</a></li>
      			</ul>
      </nav>
    </header>

    <main role="main">
      <div class="heading clearfix">
        <figure class="beanshome" role="banner">
            <img src="assets/beans.jpg" alt="Aroma Coffee Beans"/>
            <figcaption class="beanstext">
                <h1 class="hero">Aroma Coffee + Tea</h1>
                <h2 class="hero2">Local, award-winning and quality-focused</h2>
            </figcaption>
          </figure>
      </div>

      <div class="eventblock">
          <figure class="midtermphoto clearfix">
              <a href="events.html">
                <img src="assets/coffee.jpg" class="hoverimage" alt="Upcoming Event - Study Session"/>
              </a>
            <figcaption class="upcomingevent">
              Upcoming Event
            </figcaption>
          </figure>

          <div class="description clearfix">
            <div class="description-text">
              <h4>Study Session</h4>

              <h5 class="extendedhours"><a href="events.html">Extended Hours</a></h5>
              <p class="eventdescription">Stop by Aroma to study for your next exam. We have 24/7 extended hours with all the coffee you need.</p>

              <h4 class="eventdate">Dec. 8 - Dec. 12: Study 24/7</h4>
            </div>
          </div>

      </div>



      <div class="awards clearfix">
        <h1>Awards</h1>
        <table class="table1">
            <tr>
              <td><strong>2016</strong> USA Today 10 Best Coffeehouses</td>
            </tr>
            <tr>
              <td><strong>2016</strong> America's Best Espresso Semi-Finalist</td>
            </tr>
            <tr>
              <td><strong>2015</strong> America's Best Espresso Semi-Finalist</td>
            </tr>
            </table>

            <table class="table2">
              <tr>
                <td><strong>2015</strong> America's Best Coffeehouse Semi-Finalist</td>
              </tr>
              <tr>
                <td><strong>2014</strong> About Magazine Best Coffeeshop</td>
              </tr>
              <tr>
                <td>Recipient of Golden Cup Award</td>
              </tr>
            </table>
      </div>
    </main>

      <footer class="clearfix" role="contentinfo">
        <div class="footer">
          <div class="columbus">
            <h1>Columbus</h1>
            <p>5883 High St. Columbus, OH 43085</p>
            <p>(330) 854–8583</p>
          </div>

          <div class="kent">
            <h1>Kent</h1>
            <p>6110 Horning Rd. Kent, OH 44240</p>
            <p>(330) 672–3031</p>
          </div>

          <div class="hours">
            <h1>Hours</h1>
            <p>Mon–Fri: 6:00 AM – 10:30 PM</p>
            <p>Sat–Sun: 7:00 AM – 3:00 PM</p>
          </div>
        </div>
      </footer>

  </body>
</html>

<link href="style.css" rel="stylesheet" type="text/css" media="screen" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="javascript.js"></script>
