<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aroma Home Wireframes</title>
    <meta name="description" content="Page Description Goes Here">
  </head>

  <body>
    <header>
      <a href="index.html">
        <img src="assets/logo.svg" class="logo" alt="Aroma Coffee and Tea Logo"></img>
      </a>

      <a href="#menu" class="menu-link">Menu</a>

      <nav id="menu" role="navigation">
      			<ul>
      				<li><a href="menu.html">Menu</a></li>
      				<li><a href="process.html">Process</a></li>
      				<li><a href="events.html">Events</a></li>
      			</ul>
      </nav>
    </header>


    <main>
      <div class="menu-heading clearfix">
        <figure class="beanshome-2">
            <img src="assets/menu.jpg" alt="cup of coffee and beans"/>
            <figcaption class="beanstext">
                <h1 class="hero">Drinks + Baked Goods</h1>
                <h2 class="hero2">We proudly serve the rarest coffee & espresso beans</h2>
            </figcaption>
          </figure>
      </div>


      <div class="menu-body">
        <div class="coffee">
        <h3>Coffee</h3>
      <p>
        <h4>Hot Coffee</h4> 2.00 | 2.15 | 2.25
        <h4>Pour Over</h4> 2.50 | 3.00 | 3.25
        <h4>Iced Coffee</h4> 2.25 | 2.50 | 2.85
        <h4>By the Bean</h4> 10.25 half bag | 17.95 full bag

        <em>Coffee Flavors: House Blend, Sumatra Dark Blend, Highlander Grogg, Hawaiian Hazelnut, & other seasonal flavors</em>
      </p>
        </div>

        <div class="espresso">
        <h3>Espresso & More</h3>
      <p>
        <h4>Espresso</h4> 2.25 | 2.50 | 2.85
        <h4>Café Americano</h4> 2.50 | 2.75 | 3.25
        <h4>Cappuccino</h4> 3.15 | 3.55 | 4.15
        <h4>Classic Latte</h4> 3.25 | 3.65 | 4.25
        <h4>Flavored Latte</h4> 3.95 | 4.25 | 4.75
        <h4>Mocha</h4> 4.50 | 4.80 | 5.30

        <em>Flavors:
        Vanilla*, Honey-vanilla, Hazelnut*, Caramel*, Almond*, Coconut*, Peppermint, Chocolate, White Chocolate, Cinnamon, Pumpkin Spice, Raspberry**, Butterscotch, Peanut butter, Blackberry, Irish Crème, English Toffee, Apple

        *Available in sugar free
        </em>
      </p>
    </div>

    <div class="tea">
      <h3>Tea</h3>
    <p>
      <h4>Hot Tea</h4> 2.50
      <em>English Breakfast, Moto Chai, Moroccan Mint Green Tea, Decaf Ginger Tumeric, Gunpowder Green tea, Earl Grey</em>

      <h4>Iced Tea</h4> 2.50
    </p>
    </div>

    <div class="baked">
      <h3>Baked Goods</h3>
    <p>
      <h4>Muffin</h4> 2.95
      <em>Blueberry, Bran, Lemon Poppy</em>

      <h4>Belgium Style Waffle</h4>  3.95
      <h4>Cinnamon Scone</h4>  2.95
      <h4>Almond Biscotti</h4>  2.95
      <h4>Chocolate Chip Banana Bread</h4>  4.25
      <h4>Zingerman’s Coffee Cake</h4>  4.25
      <h4>Gourmet Cookie</h4>  2.45
    </p>
    </div>

    <div class="smoothies">
    <h3>Smoothies</h3>
  <p>
    Turn your favorite latte or mocha into a blended treat! Can be made decaf & with any kind of milk.
    4.50 | 4.80 | 5.30
  </p>
    </div>
    </div>

    <aside>
    <div class="feature">
    <h3>Featured</h3>
    <img src="assets/muffin.jpg" alt"baked goods"></img>
  <p>
    <h4>Muffin</h4> 2.95
    <em>Blueberry, Bran, Lemon Poppy</em>
  </p>

    <img src="assets/hotchocolate.jpg" alt="hot chocolate"></img>
  <p>
    <h4>Hot Chocolate</h4> 1.50 | 2.00 | 2.50
  </p>
    </aside>
    </div>

    </main>

    <footer class="clearfix">
      <div class="footer">
        <div class="columbus">
          <h1>Columbus</h1>
          <p>5883 High St. Columbus, OH 43085</p>
          <p>(330) 854–8583</p>
        </div>

        <div class="kent">
          <h1>Kent</h1>
          <p>6110 Horning Rd. Kent, OH 44240</p>
          <p>(330) 672–3031</p>
        </div>

        <div class="hours">
          <h1>Hours</h1>
          <p>Mon–Fri: 6:00 AM – 10:30 PM</p>
          <p>Sat–Sun: 7:00 AM – 3:00 PM</p>
        </div>
      </div>
    </footer>


  </body>
</html>

<link href="style.css" rel="stylesheet" type="text/css" media="screen" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="javascript.js"></script>
