<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aroma Home Wireframes</title>
    <meta name="description" content="Page Description Goes Here">
  </head>

  <body>
    <header>
      <a href="index.html">
        <img src="assets/logo.svg" class="logo" alt="Aroma Coffee and Tea Logo"></img>
      </a>

      <a href="#menu" class="menu-link">Menu</a>

      <nav id="menu" role="navigation">
      			<ul>
      				<li><a href="menu.html">Menu</a></li>
      				<li><a href="process.html">Process</a></li>
      				<li><a href="events.html">Events</a></li>
      			</ul>
      </nav>
    </header>


    <main>
      <div class="menu-heading clearfix">
        <figure class="beanshome-2">
            <img src="assets/menu.jpg" alt="cup of coffee and beans"/>
            <figcaption class="beanstext">
                <h1 class="hero">Drinks + Baked Goods</h1>
                <h2 class="hero2">We proudly serve the rarest coffee & espresso beans</h2>
            </figcaption>
          </figure>
      </div>

<div class="menu-block clearfix">

      <div class="coffee clearfix">
      <h1>Coffee</h1>

      <div class="hotcoffee clearfix">
        <h4>Hot Coffee</h4>
        <table>
          <tr>
            <td>Small</td>
            <td>2.00</td>
          </tr>
          <tr>
            <td>Medium</td>
            <td>2.15</td>
          </tr>
          <tr>
            <td>Large</td>
            <td>2.25</td>
          </tr>
        </table>
      </div>

      <div class="icedcoffee clearfix">
        <h4>Iced Coffee</h4>
        <table>
          <tr>
            <td>Small</td>
            <td>2.50</td>
          </tr>
          <tr>
            <td>Medium</td>
            <td>3.00</td>
          </tr>
          <tr>
            <td>Large</td>
            <td>3.25</td>
          </tr>
        </table>
      </div>

      <div class="bybeans clearfix">
        <h4>By The Beans</h4>
        <table>
          <tr>
            <td>Small</td>
            <td>2.25</td>
          </tr>
          <tr>
            <td>Medium</td>
            <td>2.50</td>
          </tr>
          <tr>
            <td>Large</td>
            <td>2.85</td>
          </tr>
        </table>
      </div>

      <div class="bybag clearfix">
        <h4>By The Bag</h4>
        <table>
          <tr>
            <td>Small</td>
            <td>10.25</td>
          </tr>
          <tr>
            <td>Medium</td>
            <td>13.50</td>
          </tr>
          <tr>
            <td>Large</td>
            <td>17.95</td>
          </tr>
        </table>
      </div>

      <div class="flavors clearfix">
            <h4>Coffee Flavors</h4>
            <table>
              <tr>
                <td>House Blend</td>
                <td class="flavor2">Hazelnut</td>
              </tr>
              <tr>
                <td>Dark Blend</td>
                <td class="flavor2">Seasonal</td>
              </tr>
            </table>
      </div>

      </div>


      <div class="espressomore clearfix">
      <h1>Espresso + More</h1>

      <div class="espresso clearfix">
        <h4>Espresso</h4>
        <table>
          <tr>
            <td>Small</td>
            <td>2.25</td>
          </tr>
          <tr>
            <td>Medium</td>
            <td>2.50</td>
          </tr>
          <tr>
            <td>Large</td>
            <td>2.85</td>
          </tr>
        </table>
      </div>

      <div class="classiclatte clearfix">
        <h4>Classic Latte</h4>
        <table>
          <tr>
            <td>Small</td>
            <td>3.25</td>
          </tr>
          <tr>
            <td>Medium</td>
            <td>3.65</td>
          </tr>
          <tr>
            <td>Large</td>
            <td>4.25</td>
          </tr>
        </table>
      </div>

      <div class="cappuccino clearfix">
        <h4>Cappuccino</h4>
        <table>
          <tr>
            <td>Small</td>
            <td>3.15</td>
          </tr>
          <tr>
            <td>Medium</td>
            <td>3.55</td>
          </tr>
          <tr>
            <td>Large</td>
            <td>4.15</td>
          </tr>
        </table>
      </div>

      <div class="flavoredlatte clearfix">
        <h4>Flavored Latte</h4>
        <table>
          <tr>
            <td>Small</td>
            <td>3.95</td>
          </tr>
          <tr>
            <td>Medium</td>
            <td>4.25</td>
          </tr>
          <tr>
            <td>Large</td>
            <td>4.75</td>
          </tr>
        </table>
      </div>

      <div class="cafeamericano clearfix">
        <h4>Cafe Americano</h4>
        <table>
          <tr>
            <td>Small</td>
            <td>2.50</td>
          </tr>
          <tr>
            <td>Medium</td>
            <td>2.75</td>
          </tr>
          <tr>
            <td>Large</td>
            <td>3.25</td>
          </tr>
        </table>
      </div>

      <div class="mocha clearfix">
        <h4>Mocha</h4>
        <table>
          <tr>
            <td>Small</td>
            <td>4.50</td>
          </tr>
          <tr>
            <td>Medium</td>
            <td>4.80</td>
          </tr>
          <tr>
            <td>Large</td>
            <td>5.30</td>
          </tr>
        </table>
      </div>

      <div class="flavors">
            <h4>Espresso + More Flavors</h4>
            <table>
              <tr>
                <td>Vanilla</td>
                <td class="flavor2">Pumpkin Spice</td>
              </tr>
              <tr>
                <td>Honeys</td>
                <td class="flavor2">Raspberry</td>
              </tr>
              <tr>
                <td>Hazelnut</td>
                <td class="flavor2">Butterscotch</td>
              </tr>
              <tr>
                <td>Caramel</td>
                <td class="flavor2">Peanut Butter</td>
              </tr>
              <tr>
                <td>Almond</td>
                <td class="flavor2">Blackberry</td>
              </tr>
              <tr>
                <td>Coconut</td>
                <td class="flavor2">Irish Creme</td>
              </tr>
              <tr>
                <td>Peppermint</td>
                <td class="flavor2">English Toffee</td>
              </tr>
              <tr>
                <td>Chocolate</td>
                <td class="flavor2">Apple</td>
              </tr>
              <tr>
                <td>Blueberry</td>
                <td class="flavor2">Cinnamon</td>
              </tr>
            </table>
      </div>

      </div>



      <div class="tea clearfix">
      <h1>Tea</h1>

      <div class="hottea clearfix">
        <h4>Hot Tea</h4>
        <table>
          <tr>
            <td>One Size</td>
            <td>2.50</td>
          </tr>
        </table>
      </div>

      <div class="icedtea clearfix">
        <h4>Iced Tea</h4>
        <table>
          <tr>
            <td>One Size</td>
            <td>2.50</td>
          </tr>
        </table>
      </div>

      <div class="flavors">
            <h4>Tea Flavors</h4>
            <table>
              <tr>
                <td>English</td>
                <td class="flavor2">Decaf Ginger</td>
              </tr>
              <tr>
                <td>Moto Chai</td>
                <td class="flavor2">Gunpowder</td>
              </tr>
              <tr>
                <td> Mint</td>
                <td class="flavor2">Earl Grey</td>
              </tr>
            </table>
      </div>

      </div>


      <div class="baked clearfix">
      <h1>Baked Goods</h1>

      <div class="muffin clearfix">
        <h4>Muffin</h4>
        <table>
          <tr>
            <tr>
              <td>One Size</td>
              <td>2.95</td>
          </tr>
        </table>
      </div>

      <div class="waffle clearfix">
        <h4>Belgium Waffle</h4>
        <table>
          <tr>
            <tr>
              <td>One Size</td>
              <td>2.50</td>
          </tr>
        </table>
      </div>

      <div class="scone clearfix">
        <h4>Cinnamon Scone</h4>
        <table>
          <tr>
            <tr>
              <td>One Size</td>
              <td>2.95</td>
          </tr>
        </table>
      </div>

      <div class="biscotti clearfix">
        <h4>Biscotti</h4>
        <table>
          <tr>
            <td>One Size</td>
            <td>2.50</td>
          </tr>
        </table>
      </div>

      <div class="bread clearfix">
        <h4>Banana Bread</h4>
        <table>
          <tr>
            <tr>
              <td>One Size</td>
              <td>2.95</td>
          </tr>
        </table>
      </div>

      <div class="cake clearfix">
        <h4>Coffee Cake</h4>
        <table>
          <tr>
            <tr>
              <td>One Size</td>
              <td>2.50</td>
          </tr>
        </table>
      </div>

      </div>





    </div>

  </div>

    </main>

    <footer class="clearfix">
      <div class="footer">
        <div class="columbus">
          <h1>Columbus</h1>
          <p>5883 High St. Columbus, OH 43085</p>
          <p>(330) 854–8583</p>
        </div>

        <div class="kent">
          <h1>Kent</h1>
          <p>6110 Horning Rd. Kent, OH 44240</p>
          <p>(330) 672–3031</p>
        </div>

        <div class="hours">
          <h1>Hours</h1>
          <p>Mon–Fri: 6:00 AM – 10:30 PM</p>
          <p>Sat–Sun: 7:00 AM – 3:00 PM</p>
        </div>
      </div>
    </footer>


  </body>
</html>

<link href="style.css" rel="stylesheet" type="text/css" media="screen" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="javascript.js"></script>
