
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aroma Home Wireframes</title>
    <meta name="description" content="Page Description Goes Here">
  </head>

  <body>
    <header>
      <a href="index.html">
        <img src="assets/logo.svg" class="logo" alt="Aroma Coffee and Tea Logo"></img>
      </a>

      <a href="#menu" class="menu-link">Menu</a>

      <nav id="menu" role="navigation">
      			<ul>
      				<li><a href="menu.html">Menu</a></li>
      				<li><a class="process-active" href="process.html">Process</a></li>
      				<li><a href="events.html">Events</a></li>
      			</ul>
      </nav>
    </header>

    <main role="main">
      <div class="process-heading clearfix">
        <figure class="beanshome-2" role="banner">
            <img src="assets/process.jpg" alt="cemployee roasting coffee beans"/>
            <figcaption class="beanstext">
                <h1 class="hero">Roasting + Process</h1>
                <h2 class="hero2">We perfect our beans through precision roasting</h2>
            </figcaption>
          </figure>
      </div>


      <div class="process-page clearfix">
<div>
              <img class="process-img clearfix" src="assets/roasting.jpg"/>

              <div class="process-block">
                  <h5>Coffee Roasting</h5>
                  <p class="bold">Our Experience</p>
                  <p>With over ten years of experience in the industry, we source, roast, blend and serve the best coffee in Ohio.</p>

                  <p class="last">We offer a variety of estate and co-op coffees as well as a few select and specialized blends. We value the importance of fairness and quality at each step of the process from seed to cup.</p>
              </div>
	</div>

<div class = "clear"></div>

<div>

      <img class="process-img" src="assets/coffeeart.jpg"></img>

	<div class="process-block clearfix">
		<h5>The Art of Coffee</h5>
		<p>Roasting coffee to perfection is exacting, but not mysterious.</p>
		<p class="bold">Here's how we do it:</p>
			<ul class="last-li">
				<li>• Travel the globe to find the best coffee beans</li>
				<li>• Buy entire micro-lots of great beans at a fair price</li>
				<li>• Roast with artistry and advanced technology</li>
				<li>• Quality control from grower to consumer</li>
			</ul>
		</p>
	</div>
</div>
<div class = "clear"></div>

      <img class="process-img" src="assets/buylocal.jpg"></img>

      <div class="process-block">
      <h5>Smaller is Better</h5>
      <p class="bold">Buy Local</p>
      <p>Many of our specialty beans come from a single farm or even from a specific area on the farm, so they are limited in quantity and superior in quality.</p>

      <p class="last2">We have established strong, long-term relationships, based on good coffee and fair prices.
      </p>
    </div>

  </div>

    </main>

    <footer class="clearfix" role="contentinfo">
      <div class="footer">
        <div class="columbus">
          <h1>Columbus</h1>
          <p>5883 High St. Columbus, OH 43085</p>
          <p>(330) 854-8583</p>
        </div>

        <div class="kent">
          <h1>Kent</h1>
          <p>6110 Horning Rd. Kent, OH 44240</p>
          <p>(330) 672-3031</p>
        </div>

        <div class="hours">
          <h1>Hours</h1>
          <p>Mon-Fri: 6:00 AM - 10:30 PM</p>
          <p>Sat-Sun: 7:00 AM - 3:00 PM</p>
        </div>
      </div>
    </footer>


  </body>
</html>

<link href="style.css" rel="stylesheet" type="text/css" media="screen" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="javascript.js"></script>
