@import url(https://fonts.googleapis.com/css?family=Lato:300,700,900);


/* Header */

body {
  font-family: "Lato", arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  max-width: 2000px;
  margin: 0 auto;
}

.event-section {
  padding-bottom: 2em;
  background-color: rgb(231,227,225);
}

strong {
  font-weight: 700;
}

/* Navigation */

@media screen and (min-width:800px) {
  nav {
    margin: 3.5em 3.5em 0 0;
  }
}

a.menu-link {
    margin: 2.2em 3.5em 0 0;
    font-size: 1.1em;
    color: rgb(173,165,161);
  }

.logo {
  width: 110px;
  margin: 0 0 0 3.5em;
}

nav ul li a {
    color: rgb(173,165,161);
    text-decoration: none;
    font-size: 1.1em;
    text-align: center;
}

@media screen and (min-width:800px) {
    nav {
      float: right;
    }
}

a.menu-link {
  	    float: right;
		    display: block;
		    padding: 1em;
        text-decoration: none;
        border: 2px solid rgb(173,165,161);
        padding: .5em 3em;
        font-weight: 700;
		}

@media screen and (max-width:520px) {
  a.menu-link {
    padding: .5em 1.25em;
    margin-right: 2em;
  }
  .logo {
    margin: 0 0 0 1.5em;
  }
}

		nav[role=navigation] {
			clear: both;
		/*	-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
    */
		}
		.js nav[role=navigation] {
			overflow: hidden;
			max-height: 0;
		}
		nav[role=navigation].active {
			max-height: 15em;
		}
		nav[role=navigation] ul {
			margin: 0;
			padding: 0;
			border-top: 1px solid #808080;
		}
		nav[role=navigation] li a {
			display: block;
			padding: 0.8em 1.5em;
			border-bottom: 1px solid #808080;
		}

		@media screen and (min-width:800px) {
			a.menu-link {
			   display: none;
			}
			.js nav[role=navigation] {
				max-height: none;
			}
			nav[role=navigation] ul {
				margin: 0 0 0 -0.25em;
				border: 0;
			}

			nav[role=navigation]  li {
				display: inline-block;
				margin: 0 0.25em;
			}
			nav[role=navigation] li a {
				border: 0;
			}
		}

    li a:hover {
      text-decoration: none;
      color: rgb(148,206,192);
    }

/* Headings */

h1 {
      color: rgb(148,206,192);
      font-weight: 900;
      text-transform: lowercase;
      font-size: 2em;
    }

    p {
      color: rgb(71,62,60);
    }

    .awards td {
      line-height: 1.6em;
      margin-top: -.85em;
      font-size: .95em;
      color: rgb(71,62,60);
    }

    .awards table {
      margin: -1em 0 2em 0;
      width: 50%;
      float: left;
    }

    @media screen and (min-width: 725px) {
      .awards {
        margin: .75em 2.5em;
        padding-left: .25em;
      }
      .awards table {
        font-size: 1em;
      }
      .table2 {
        margin-left: 2em;
      }
    }

    @media screen and (min-width: 840px) {
      .awards table {
        padding-top: .5em;
        font-size: 1.1em;
      }
      .awards {
        padding-left: 1.25em;
      }
    }

    @media screen and (min-width: 1050px) {
      .awards table {
        font-size: 1.3em;
      }
      .awards h1 {
        font-size: 2.2em;
      }
      .awards {
        padding-left: 3em;
      }
    }

    @media screen and (min-width: 1260px) {
      .awards table {
        font-size: 1.25em;
      }
      .awards h1 {
        font-size: 2.5em;
      }
      .awards {
        padding-left: 6em;
      }
    }

      @media screen and (max-width:725px) {
      .awards table, h1 {
        text-align: center;
      }
      .awards table {
        width: 100%
      }
      .awards .table2 {
        margin: -2.1em 0 1.5em 0;
      }
    }


/* Header Text */

    .beanshome {
      width: 100%;
      margin: 0 auto;
      position: relative;
      background-color: rgb(231,227,225);
    }

    .beanshome-2 {
      width: 100%;
      margin: 0 auto;
      position: relative;
      background-color: white;
    }

    .beanstext {
      text-align: left;
      font-size: .8em;
      position: absolute;
      top: -.65em;
      color: white;
      }

    .hero {
       font-family: "Lato", sans-serif;
       color: rgb(148,206,192);
       font-weight: 900;
       text-transform: lowercase;
       font-size: 2.2em;
       text-align: left;
       margin-left: 1.5em;
    }

    .hero2 {
       font-family: Georgia, serif;
       font-style: italic;
       font-weight: 300;
       color: white;
       font-size: 1.3em;
       text-transform: lowercase;
       margin-top: -.9em;
       margin-left: 2.5em;
       padding-right: 1em;
    }

    @media screen and (min-width:521px) {
      .hero {
        font-size: 2.6em;
        margin-top: .85em;
        margin-left: 2.2em;
      }
      .hero2 {
        font-size: 1.65em;
        margin-top: -.8em;
        margin-left: 3.5em;
      }
    }

    @media screen and (min-width:900px) {
      .hero {
        font-size: 3em;
        margin-top: 1em;
        margin-left: 2em;
      }
      .hero2 {
        font-size: 2em;
        margin-left: 3.1em;
      }
    }

    @media screen and (min-width: 1260px) {
      .hero {
        font-size: 3.5em;
        margin-left: 1.95em;
      }
      .hero2 {
        font-size: 2.25em;
        margin-left: 3.1em;
      }
    }

    h2 {
      font-family: Georgia, serif;
      font-style: italic;
      font-weight: 300;
      color: white;
      text-transform: lowercase;
    }

    h4 {
      text-transform: uppercase;
      color: rgb(89,80,77);
      font-weight: 700;
    }

    h5 {
      color: rgb(148,206,192);
      font-weight: 700;
      font-size: 1.4em;
    }


/* Images */

.heroimg {
  max-width: 100%;
  position: relative;
  z-index: -1;
}

.hoverimage:hover {
  opacity: .8;
}

img {
  max-width: 100%;
}





/* Event Block */

.eventblock {
  background-color: rgb(231,227,225);
  padding: 2.25em 0 1.75em 0;
  margin: 0;
}

.eventblock-2 {
  background-color: rgb(231,227,225);
  padding: .5em 0 .5em 0;
  margin: 0;
}

.eventblock-3 {
  background-color: rgb(231,227,225);
  padding: 2em 0 .2em 0;
  margin: 0;
}

figure {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.upcomingevent {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: .8em;
  text-transform: uppercase;
  position: absolute;
  top: 1em;
  background-color: rgb(148,206,192);
  color: white;
  padding: .75em;
  line-height: 1.3;
}

@media screen and (min-width: 520px) {
  .upcomingevent {
    font-size: 1em;
  }
}

@media screen and (min-width: 1260px) {
  .upcomingevent {
    font-size: 1.15em;
  }
}

.description {
  background-color: white;
  width: 80%;
  margin: -1.5em auto 1em auto;
}

@media screen and (min-width: 675px) {
  .eventblock {
    margin: 0 auto;
    display: flex;
    padding: 2em;
  }
  .eventblock-2 {
    margin: 0 auto;
    display: flex;
    padding: 1em 2em;
  }
  .eventblock-3 {
    margin: 0 auto;
    display: flex;
    padding: 2.5em 2em 1em 2em;
  }
  .midtermphoto {
    float: left;
    height: auto;
    width: 500px;
  }
  .description {
    margin: 0;
    padding: -1em;
  }
}

@media screen and (min-width:776px) {
  .eventblock {
    padding: 2.5em;
  }
  .eventblock-2 {
    padding: 1em 2.5em;
  }
  .eventblock-3 {
    padding: 2.5em 2.5em 1em 2.5em;
  }
}

h4 {
  padding: 1.5em 0 0 1.5em;
  font-size: .9em;
}

.eventdate {
  margin-top: -1em;
  padding: 0 0 0 1.5em;
  font-size: .9em;
  display: inline-block;
}

@media screen and (min-width: 675px) {
  h4 {
    padding: .75em 0 0 1.5em;
    font-size: .9em;
   }
   .eventdate {
     font-size: .9em;
   }
}

@media screen and (min-width:776px) {
  h4 {
    padding-top: 1em;
    padding-left: 2.25em;
    font-size: .9em;
  }
  .eventdate {
    font-size: .9em;
    padding-left: 2.2em;
  }
  .eventblock p {
    font-size: 1.1em;
    line-height: 1.4em;
    margin-top: .75em;
    padding-right: 2em;
    padding-left: 1.8em;
  }
  .eventblock-2 p {
    font-size: 1.1em;
    line-height: 1.4em;
    margin-top: .75em;
    padding-right: 2em;
    padding-left: 1.8em;
  }
  .eventblock-3 p {
    font-size: 1.1em;
    line-height: 1.4em;
    margin-top: .75em;
    padding-right: 2em;
    padding-left: 1.8em;
  }
  .eventblock h5 {
    font-size: 1.3em;
    margin-top: -.75em;
    margin-left: .5em;
  }
  .eventblock-2 h5 {
    font-size: 1.3em;
    margin-top: -.75em;
    margin-left: .5em;
  }
  .eventblock-3 h5 {
    font-size: 1.3em;
    margin-top: -.75em;
    margin-left: .5em;
  }
}

@media screen and (min-width: 900px) {
  h4 {
    padding-top: .75em;
    padding-left: 2.5em;
    padding-bottom: .45em;
  }
  .eventdate {
    padding-left: 2.6em;
  }
  .eventblock p {
    padding-left: 2em;
    font-size: 1.2em;
  }
  .eventblock-2 p {
    padding-left: 2em;
    font-size: 1.2em;
  }
  .eventblock-3 p {
    padding-left: 2em;
    font-size: 1.2em;
  }
  .eventblock h5 {
    padding-left: 1.25em;
  }
  .eventblock-2 h5 {
    padding-left: 1.25em;
  }
  .eventblock-3 h5 {
    padding-left: 1.25em;
  }
}

@media screen and (min-width: 980px) {
  h4 {
    padding-top: 1em;
  }
  .eventdate {
    margin-top: 0;
    padding-top: 1.5em;
  }
}

@media screen and (min-width:1050px) {
  .midtermphoto {
    width: 60%;
    height: 260px;
    overflow: hidden;
  }
  h4 {
    padding-top: 1.5em;
  }
}

@media screen and (min-width:1260px) {
  h4 {
    padding-top: 1em;
    padding-left: 2.5em;
    padding-bottom: .45em;
    font-size: 1em;
  }
  .eventdate {
    padding-left: 2.6em;
    padding-top: 1em;
    font-size: 1em;
  }
  .eventblock p {
    padding-left: 2em;
    font-size: 1.3em;
  }
  .eventblock-2 p {
    padding-left: 2em;
    font-size: 1.3em;
  }
  .eventblock-3 p {
    padding-left: 2em;
    font-size: 1.3em;
  }
  .eventblock h5 {
    padding-left: 1em;
    font-size: 1.65em;
  }
  .eventblock-2 h5 {
    padding-left: 1em;
    font-size: 1.65em;
  }
  .eventblock-3 h5 {
    padding-left: 1em;
    font-size: 1.65em;
  }
}

.extendedhours {
  padding-left: 1em;
  margin-top: -.6em;
  margin-bottom: 0;
  font-size: 1.3em;
}

.eventdescription {
  padding: 0 1.2em;
}

.eventblock a {
  text-decoration: none;
  color: rgb(148,206,192);
  }
}

/* Menu Page */

.menu-block table {
  border-spacing: 2.5em 0;
}

@media screen and (min-width: 1190px) {
  .menu-block table {
    border-spacing: 5.5em 0;
  }
}

@media screen and (min-width: 640px) {
  .coffee .flavor2 {
    margin-left: 6.9em;
    display: block;
  }
  .espressomore .flavor2 {
    margin-left: 7.4em;
    display: block;
  }
  .tea .flavor2 {
    margin-left: 8em;
    display: block;
  }
}


@media screen and (min-width: 900px) {
  .coffee .flavor2 {
    margin-left: 8.6em;
    display: block;
  }
  .espressomore .flavor2 {
    margin-left: 9em;
    display: block;
  }
  .tea .flavor2 {
    margin-left: 9.75em;
    display: block;
  }
}

@media screen and (min-width: 1190px) {
  .coffee .flavor2 {
    margin-left: 13.6em;
    display: block;
  }
  .espressomore .flavor2 {
    margin-left: 14em;
    display: block;
  }
  .tea .flavor2 {
    margin-left: 14.75em;
    display: block;
  }
}


.menu-block h1 {
      color: rgb(148,206,192);
      font-weight: 900;
      text-transform: lowercase;
      font-size: 2em;
      text-align: left;
      padding-left: 1.75em;
      margin-bottom: 0em;
  }

  @media screen and (min-width: 521px) {
    .menu-block h1 {
      padding-left: 2.5em;
    }
  }

  @media screen and (min-width: 900px) {
    .menu-block h1 {
      padding-left: 3.5em;
      font-size: 2.2em;
    }
  }

  @media screen and (min-width: 1190px) {
    .menu-block h1 {
      padding-left: 4.25em;
      font-size: 2.5em;
    }
  }

  .menu-block h4 {
      font-size: 1em;
      text-align: left;ï¿½
      padding-left: 3.5em;
      margin-bottom: .75em;
      margin-top: 0em;
      padding-left: 3.5em;
    }

    @media screen and (min-width: 521px) {
      .menu-block h4 {
        padding-left: 5em;
      }
    }

    @media screen and (min-width: 675px) {
      .menu-block h4 {
        padding-top: 1.5em;
      }
    }

    @media screen and (min-width: 900px) {
      .menu-block h4 {
        padding-left: 7em;
        font-size: 1.1em;
        margin-bottom: .25em;
      }
    }

    @media screen and (min-width: 1190px) {
      .menu-block h4 {
        padding-left: 9.75em;
      }
    }


.menu-block td {
        font-size: .95em;
        padding-left: 1.1em;
        color: rgb(71,62,60);
        line-height: 1.5em;
      }

@media screen and (min-width: 350px) {
  .menu-block td {
        font-size: 1.1em;
  }
}


@media screen and (min-width: 521px) {
  .menu-block td {
    padding-left: 2.25em;
  }
}

@media screen and (min-width: 900px) {
    .menu-block td {
      padding-left: 4.35em;
      font-size: 1.2em;
      }
    }

.flavors {
  background-color: rgb(231,227,225);
  padding-bottom: 1.25em;
  margin-top: 1.5em;
}

@media screen and (min-width: 640px) {
  .hotcoffee, .icedcoffee, .bybeans, .bybag, .flavors, .espresso, .classiclatte, .cappuccino, .flavoredlatte, .cafeamericano, .mocha, .hottea, .icedtea, .muffin, .waffle, .scone, .biscotti, .bread, .cake {
    float: left;
  }
  .flavors {
    width: 100%;
  }
}

.cake {
  margin-bottom: 3em;
}





/* Process Page */

.process-page img {
  width: 80%;
  margin: 1em auto;
  display: block;
}

@media screen and (min-width: 900px) {
  .process-page img {
    margin: 1.5em 2.5em 1.5em 1.5em;
    width: 40%;
  }
}


.process-page h5 {
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
}

@media screen and (min-width: 900px) {
  .process-page h5 {
    text-align: left;
    margin-top: 1em;
  }
}

@media screen and (min-width: 1100px) {
  .process-page h5 {
    font-size: 1.6em;
    margin-top: 1.4em;
  }
}

.process-page ul li {
  color: rgb(71,62,60);
  margin: .5em 1.5em 0 1.5em;
  list-style-type: none;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .process-page ul li {
    font-size: 1.1em;
    line-height: 1.5em;
  }
}

@media screen and (min-width: 900px) {
  .process-page ul li {
    text-align: left;
  }
}

.process-page p {
  text-align: center;
  padding: 0 1.5em;
  line-height: 1.4em;
}


@media screen and (min-width: 500px) {
  .process-page p {
    font-size: 1.1em;
    line-height: 1.5em;
    padding: 0 4.5em;
  }
}

@media screen and (min-width: 900px) {
  .process-page p {
    text-align: left;
    padding: 0;
  }
}

@media screen and (min-width: 1100px) {
  .process-page p {
    font-size: 1.2em;
  }
}

.process-page .last {
  margin-bottom: 2.75em;
}

.last2 {
  margin-bottom: 3em;
}

@media screen and (min-width:1232px) {
  .last2 {
    margin-bottom: 7em;
  }
}


.last-li {
  padding: 0;
  margin-bottom: 2.75em;
}

.bold {
  font-weight: 700;
  margin-bottom: -.35em;
}

@media screen and (min-width: 900px) {
  .process-block {
    float: left;
    text-align: left;
  	width:50%;
  }
  .process-img {
    float: left;
    text-align: left;
	width:60%;
  }
}

.clear {
	clear:both;
}




/* Footer */

footer {
  width: 100%;
  text-align: center;
  background-color:rgb(89,80,77);
}

.footer {
  padding: 1em 0 2em 0;
}

footer h1 {
  color: rgb(203,197,193);
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}

.hours, .kent {
  margin-top: 2.5em;
}

footer p {
  color: white;
  font-size: 1em;
  line-height: .5em;
  margin-top: .2em;
}

.footer a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 840px) {
  .columbus, .hours, .kent {
    width: 33.3333%;
    float: left;
    margin: 0 0 2em 0;
    padding: 0;
  }
}


/* Clearfix */

.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}
